@import '../LunaUI/css/LunaUI.scss';

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

div,
a,
button,
figcaption,
h1,
h2,
h3,
h4,
h5,
h6,
label,
li,
main,
p,
section,
span {
  font-family: 'Yuanti SC',Menlo, Consolas, PingFang SC, Microsoft YaHei UI Light, Microsoft YaHei Light, WenQuanYi Micro Hei, San Francisco, Helvetica, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
}

input {
  outline: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.lunaGardenLoading {
  position: fixed;
  z-index: 100;
}
.login, .register{
  a{
    color: $Primary;
  }
}